.parent{
    position: relative;
    background-color: blue;
    left: 30px;

}

.child-one{
    position: relative;
    left: 10px;
    top: 20px;
    background-color: brown;

}

.child-two{
    background-color: cornflowerblue;

}

.child-three{
    background-color: darkgreen;

}