canvas { 
    width: 100%;
     height: 100%
}

body {
    /* Make the body take up entire window minus a margin:
       http://stackoverflow.com/questions/485827/css-100-height-with-padding-margin
     */
    position:   absolute;
    top:        0;
    left:       0;
    right:      0;
    bottom:     0;
    margin:     20px;
    margin-top: 40px;
    display:          flex;
    flex-direction:   column;
}

.top {
    /* Stack children horizontally within top half of screen */
    display:          flex;
    flex-direction:   row;
    align-items:      center;
}

.top, textarea {
    height:           70%;
}

.sides, .sides canvas, .sides div, .sides svg {
    width:            100%;
    height:           100%;
}

.middle {
    z-index:          99;
}

/* Relative positioning for .sides so h1 can be centered above it */
.sides {
    position:       relative;
}
#convert {
    color:          darkred;
    font-size:      10vw;
    cursor:         pointer;
}

#convert:hover {
    color: red;
}

path:hover {
    stroke:         red;
    stroke-width:   2px;
}
h1 {
    position:       absolute;
    top:            0px;
    width:          100%;
    margin-top:     0px;
    text-align:     center;
}